<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <link rel="stylesheet" type="text/css" href="/css/contact.css">
  <title>Contact - Codegazer</title>
</head>
<script src="/js/jquery-2.1.1.js"></script>
<script src="/js/validate.email.js"></script>
<script src="/js/message.sender.js"></script>
<body>
<header class="header">
  <div class="container">
    <div class="header_inner">
      <div class="header_logo">Codegazer</div>
      <nav class="nav">
        <a class="nav_link" href="/">Home</a>
        <a class="nav_link" href="/error">About</a>
        <a class="nav_link" href="/contact">Contact</a>
      </nav>
    </div>
  </div>
</header>
<div class="intro">
  <div class="section">
    <div class="contact">
      <div class="left_section">
        <div class="leave_message">
          <p class="leave_message_text">Leave a message below</p>
          <form method="post">
            <fieldset class="fieldset">
              <p id="demo"></p>
              <label for="email">Email*</label>
              <input id="email" type="text">
              <label for="message">Message</label>
              <textarea id="message"></textarea>
              <input type="button" onclick="validateAndSendMessage()">
            </fieldset>
          </form>
        </div>
      </div>
      <div class="right_section">
        <div class="map">
          <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d153.20549197026855!2d23.693051189678066!3d52.09269228271508!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sby!4v1576171841910!5m2!1sru!2sby"
              width="500" height="500" frameborder="0" style="border:0;"
              allowfullscreen=""></iframe>
        </div>
        <nav class="on_map">
          <a class="nav_link" href="https://www.google.ru/maps">Open in Google</a>
        </nav>
      </div>
    </div>
  </div>
  <footer class="footer">
    <p>© 2019 Codegazer</p>
  </footer>
</div>
</body>
</html>