<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <title>Contact - Codegazer</title>
</head>
<script src="/js/jquery-2.1.1.js"></script>
<script src="/js/validate.email.js"></script>
<script src="/js/message.sender.js"></script>
<body>
<header class="header">
  <div class="container">
    <div class="header_inner">
      <div class="header_logo">Codegazer</div>
      <nav class="nav">
        <a class="nav_link" href="/">Home</a>
        <a class="nav_link" href="/error">About</a>
        <a class="nav_link" href="/contact">Contact</a>
      </nav>
    </div>
  </div>
</header>
<div class="intro">
  <div class="section">
    <form method="get">
      <p>Enter an email address:</p>
      <p id="demo"></p>
      <input id="email">
      <input id="message">
      <button type="button" onclick="validateAndSendMessage()">VALIDATE</button>
    </form>

    <h2 id='result'></h2>
  </div>
  <footer class="footer">
    <p>© 2019 Codegazer</p>
  </footer>
</div>
</body>
</html>