<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <link rel="stylesheet" type="text/css" href="/css/error.css">
  <title th:text="@{${error} + ' - Codegazer'}"></title>
</head>
<body>
<header class="header">
  <div class="container">
    <div class="header_inner">
      <div class="header_logo">Codegazer</div>
      <nav class="nav">
        <a class="nav_link" href="/">Home</a>
        <a class="nav_link" href="/error">About</a>
        <a class="nav_link" href="/contact">Contact</a>
      </nav>
    </div>
  </div>
</header>
<div class="intro">
  <div class="section">
    <div class="error_block">
      <b class="error_status" th:text="${status}"></b><br>
      <b class="error_message" th:text="${error}"></b>
    </div>
  </div>
  <footer class="footer">
    <p>© 2019 Codegazer</p>
  </footer>
</div>
</body>
</html>