<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/png" href="https://spring.io/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <title>Codegazer</title>
</head>

<body>

<header class="header">
  <div class="container">
    <div class="header_inner">
      <div class="header_logo">Codegazer</div>
      <nav class="nav">
        <a class="nav_link" href="#">Home</a>
        <a class="nav_link" href="#">About</a>
        <a class="nav_link" href="#">Contact</a>
      </nav>
    </div>
  </div>
</header>

<div class="intro">
    <div class="section">
      <div class="section_left">1</div>
      <div class="section_right">2</div>
      <footer class="footer">
        <p><font color="white">Codegazer</font></p>
      </footer>
    </div>


</div>


</body>
</html>