<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <title>Codegazer</title>
</head>
<body>
<header class="header">
  <div class="container">
    <div class="header_inner">
      <div class="header_logo">Codegazer</div>
      <nav class="nav">
        <a class="nav_link" href="#">Home</a>
        <a class="nav_link" href="#">About</a>
        <a class="nav_link" href="/contact">Contact</a>
      </nav>
    </div>
  </div>
</header>
<div class="intro">
  <div class="section">
    <div class="section_left">
        <img class="index_image" th:src="@{/static/images/bet.png}"/>
    </div>
    <div class="section_right">2</div>
    <footer class="footer">
      <p><font color="#FFFFFF">© 2019 Codegazer.by </font></p>
    </footer>
  </div>
</div>
</body>
</html>