<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <title>Codegazer</title>
</head>
<body>
<header class="header">
  <div class="container">
    <div class="header_inner">
      <div class="header_logo">Codegazer</div>
      <nav class="nav">
        <a class="nav_link" href="/">Home</a>
        <a class="nav_link" href="/error">About</a>
        <a class="nav_link" href="/contact">Contact</a>
      </nav>
    </div>
  </div>
</header>
<div class="intro">
  <div class="section">LALALA
  </div>
  <footer class="footer">
    <p>© 2019 Codegazer</p>
  </footer>
</div>
</body>
</html>